<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>CrearRecurso</display-name>
    <servlet-name>CrearRecurso</servlet-name>
    <servlet-class>servlets.CrearRecurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearRecurso</servlet-name>
    <url-pattern>/CrearRecurso</url-pattern>
  </servlet-mapping>
  <display-name>tsePractico-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListarRecurso</display-name>
    <servlet-name>ListarRecurso</servlet-name>
    <servlet-class>servlets.ListarRecurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarRecurso</servlet-name>
    <url-pattern>/ListarRecurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarTiposRecursos</display-name>
    <servlet-name>ListarTiposRecursos</servlet-name>
    <servlet-class>servlets.ListarTiposRecursos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarTiposRecursos</servlet-name>
    <url-pattern>/ListarTiposRecursos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarRecursosTipoRecurso</display-name>
    <servlet-name>ListarRecursosTipoRecurso</servlet-name>
    <servlet-class>servlets.ListarRecursosTipoRecurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarRecursosTipoRecurso</servlet-name>
    <url-pattern>/ListarRecursosTipoRecurso</url-pattern>
  </servlet-mapping>
</web-app>